
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
p,h1,h2,h3,h4{
  font-family: sans-serif;
}
.head{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
    width: 90%;
    position: relative;
    right: 10px;
    bottom: 10px;
}


.correct{
  display: flex;
  justify-content: center;
  width: 70%;
  justify-content: space-between;
  position: relative;
  right: 100px;
}
.headbt{
    height: 45px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    margin: 10px;
    margin-top: 30px;
}
.headbt:hover{
    background-color: black;
    color: white;
    
}
.ph{
    color: red;
}
.navbar{
    background-color: red;
    height: 40px;
    width: 100%;
    padding-left: 150px;
    transition: all 0.3s ease;
    overflow-x: hidden;
    position: relative;
    right: 10px;
    bottom: 10px;
    
  
}
.navbt{
    border: none;
    background-color: red;
    margin-left: 13px;
    margin-top: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.navbt:hover{
    color: black;
    cursor: pointer;

}

.selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    
    
    position: absolute;
    top: 600px;
    left: 100px;
}
.searchpt{
    margin-top: 48px;
    height: 55px;
    width: 320px;
    border: none;
    background: linear-gradient(to right,orange,red);
    color: white;
    border-radius: 15px;
    width: 120px;
    position: relative;
    
}
.searchpt:hover{
    cursor: pointer;
    background: black;
}
.backg{
    width: 105%;
    height: 100vh;
    position: fixed;
    right: 1px;
    
    background-size: cover;
    z-index: -1;
    top: 0;
    animation: slideshow 15s infinite;
    transition: ease;
    transition-duration: 0ms;
    background-position: center;
}
@keyframes slideshow{
    0%{background-image: url(banner2.jpg);}
    25%{background-image: url(banner3.jpg);}
    50%{background-image: url(banner2.jpg);}
    75%{background-image: url(banner3.jpg);}
    100%{background-image: url(banner2.jpg);}


}
.looking{
    height: 50px;
    width: 185px;

}
.wel{
    position: absolute;
    
}
.footer {
  background-color: white;
  text-align: left;
  
  position: relative;
  bottom: 0;
  right: 8px;
  top: 600px;
  width: 101%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 75px;
  
  
  

}
.welcome{
    color: red;
    
}
.wp{
    width: 800px;
}
.wi{
    width: 150px;
    padding-right: 200px;
}
.brg {
  background-color: white;
  text-align: left;
  right: 8px;
  position: relative;
  bottom: 0;
  top: 600px;
  width: 101%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 75px;
  }
  .prof{
    color: red;
    
    font-size: 300%;
  }
  .u1{
    color: rgb(255, 155, 171);
    position: relative;
    bottom: 70px;
    left: 710px;
  }
  .u2{
    color: rgb(255, 155, 171);
    position: relative;
    bottom: 120px;
    left: 790px;
  }
  .scroll-container {
  overflow: hidden;
  width: 70%;
  position: relative;
  left: 250px;
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.scroll-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
  margin: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
select{
  justify-content: center;
  text-align: center;
}
.fap{
  color: rgb(255, 255, 255);
  position: relative;
  left: 650px;
  font-size: 300%;
  
}
.FAP{
  background-image: url(bg1.jpg);
}
.table{
  display: flex;
  position: relative;
  left: 300px;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  bottom: 100px;
  height: 400px;
}
.ss{
  display: flex;
  color: white;
  flex-wrap: wrap;
  width: 350px;
  flex-direction: row;
}
.sb{
  position: relative;
  right: 70px;
  width: 60px;
  height: 60px;
  top: 90px;
  color: white;
  background-color: rgba(240, 248, 255, 0.002);
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}
.ss:hover{
  .sb{
    background-color: skyblue;
  }
}
.susp{
  color: rgb(255, 0, 0);
  position: relative;
  left: 700px;
  font-size: 300%;

}
.sushd{
  position: relative;
  left: 50px;
  top:50px ;
}
.susph{
  width: 400px;
  background-color: aquamarine;
  color: white;
  justify-content: space-around;
  font-size: x-large;
  font-weight: lighter;
  text-align: center;
}
.sushis{
  position: relative;
  left: 200px;
  width: 80%;
}
.NAM{
  font-size: x-large;
  color: maroon;
}
.restriction{
  background-color: grey;
  justify-content: center;
  height: 45px;
  padding-top: 6px;
}
.end{
  background-image: url(bg3.jpg);
  width: 110%;
  position: relative;
  right: 8px;
  height: 540px;
  color: white;
  display: flex;
   justify-content: space-around;
}
.emailreg{
  display: flex;
  width: 350px;
  height: 50px;
  padding-top: 65px;
}
.alldetails{
  display: flex;
  margin-top: 75px;
  justify-content: space-between;
  position: relative;
  bottom: 6px;
  
}
.bookingaps{
font-size: x-large;
position: relative;
top: 50px;
}
.endcontent{
  display: flex;
  width: 70%;
 
}
.gicontact{
  text-align: left;
  margin-left: 75px;
  line-height: 30px;
  margin-top: 20px;
}
.mailin{
  width: 750px;
}
.mailbt{
  width: 370px;
  border: none;
  background-color: yellow;
}
.getinc{
  font-size: x-large;
}
.credits{
  font-size: xx-large;
}

.branches{
  display: flex;
  justify-content: space-around;
  height: 70px;
  flex-wrap: wrap;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 15px;
  background-image: url(bg3.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 110%;
}
.cities{
  display: flex;
  flex-wrap: wrap;
  width: 650px;
}
.sobts{
  background-color: rgba(248, 248, 255, 0);
  border-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 8px;
  color: white;
}



@media (max-width: 576px) {
  
@media (max-width: 576px) {

  html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    overflow-x: hidden !important;
  }

  
  .head,
  .navbar,
  .selection,
  .footer,
  .end,
  .branches,
  .repeatbg,
  
  .loghead {
    width: 100% !important;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
  }

 
  * {
    box-sizing: border-box;
  }
}

  .head {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    padding: 10px;
    width: 120vw;
  }
  .correct{
    display: flex;
    flex-direction: column;
   padding-left: 65px;
    
  }
  .correctlog{
    display: flex;
    flex-direction: column;
   width: 90vw;
   align-items: center;
  }

  .btns{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    
  }
  .headbt{
    background-color: none;
    background: none;
  }
  .logo{
    width: 90vw;
  }
  .logoimage{
    width: 80vw;
    display: block;

  }
  .ctinfo{
    display: none;
  }

  .headbt {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }

  .navbar {
    padding-left: 0;
    text-align: center;
    height: auto;
    width: 100vw;
  }

  .navbt {
    font-size: 14px;
    margin: 5px;
    display: inline-block;
  }

  .selection {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 250px;
    position: static;
    margin-top: 15px;
  }

  .looking {
    width: 100%;
    margin: 5px 0;
  }

  .searchpt {
    width: 100%;
    margin-top: 10px;
  }

  .footer,
  .brg {
    flex-direction: column;
    padding: 20px;
    top: auto;
  }
  .welcome{
    width: 70vw;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
    align-items: left;
  }

  .wp {
    width: 100%;
  }

  .wi {
    width: 100%;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }

  .scroll-container {
    width: 100vw;
    
    left: 0;
  }
  .brg{
    width: 100vw;
    position: relative;
    left: 1px;
    padding: 0px;
  }

  .prof,
  .u1,
  .u2 {

    
    
  }

  .table {
    left: 0;
    width: 70vw;
    height: max-content;
    position: relative;
    right: 500px;
    margin-left: 80x;
    justify-content: center;

  }
  .FAP{
    position: relative;
    
    width: 100vw;
    padding-left: 75px;
    align-items: center;
   
  }
  .fap{
    position: relative;
   font-size: 250%;
   left: 1px;
   align-items: center;
   top: 55px;
    
  }

  .sushis {
    left: 0;
    width: 100%;
  }

  .susph {
    width: 80%;
    font-size: medium;
    background: none;
    color: black;
  }
  .susp{
    position: relative;
    left: 1px;
    align-items: center;
    line-height: 2px;
  }
  .u1{
   position: relative;
   left: 1px;
   top: 10px;
   bottom: 55px;
   align-items: center;
   
   
    
  }
  .u2{
    position: relative;
    left: 100px;
    top: 1px;
     bottom: 35px;
     align-items: center;
     
   
   
 
  }
  .restriction{
    width: 100vw;
    display: flex;
    height: max-content;
    position: relative;
    
    padding: 10px;
    text-align: center;
  }
  .endcontent{
    height: max-content;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .end{
    width: 100vw;
    position: relative;
    right: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: none;
  }
  .gicontact{
    position: relative;
    right: 25px;
  }
  .branches{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 25px;
    position: relative;
    right: 20px;
    height: max-content;
  }
  
   .cities{
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footerimage{
    width: 70vw;
  }
  .socialmed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .mailin{
    height: 50px;
  }
  .mailbt{
    height: 50px;
    border: none;
  }
  
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    padding: 10px;
    align-items: center;
    margin-left: 45vw;

  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: red;
    padding: 10px;
  }

  .nav-links.show {
    display: flex;
  }
}


@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
  }
}


@media (min-width: 577px) and (max-width: 768px) {
  .head {
    padding: 10px 40px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
  .ctinfo{
    display: none;
  }
  .btns{
    display: flex;
  }

  .navbar {
    padding-left: 20px;
  }

  .selection {
    width: 95%;
    left: auto;
    height: 320px;
    top: auto;
    margin: 20px auto;
    position: relative;
  }

  .footer,
  .brg {
    flex-direction: column;
    padding: 40px;
  }

  .wp {
    width: 100%;
  }

  .wi {
    padding: 0;
    width: 250px;
    margin: 20px auto;
  }

  .scroll-container {
    width: 90%;
    left: 0;
  }
  .FAP{
    width: 100vw;
    position: relative;
    right: 40px;
    height: max-content;
    
    
  }
  .fap{
    position: relative;
    left: 130px;
  }

  .prof,
  .u1,
  .u2 {
    left: auto;
    text-align: center;
  }

  .table {
    width: 90%;
    left: auto;
    height: max-content;
    margin-left: 75px;
    
  }
  .susp{
    position: relative;
    left: 100px;
    bottom: 35px;

  }
  .sushis{
    position: relative;
    left: 35px;
  }
   .restriction{
    width: 95vw;
    display: flex;
    height: max-content;
    position: relative;
    right: 45px;
    padding: 10px;
    text-align: center;
  }
  .endcontent{
    height: max-content;
    display: flex;
    flex-direction: column;
    width: 95vw;
  }
  .end{
    width: 100vw;
    position: relative;
    right: 45px;
    height: max-content;
    display: flex;
    flex-direction: column;
  }
  .gicontact{
    position: relative;
    right: 45px;
  }
  .branches{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    right: 45px;
    height: max-content;
  }
   .cities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .socialmed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
}



@media (min-width: 769px) and (max-width: 1024px) {
  .head {
    padding-left: 50px;
    padding-right: 50px;
    width: 100vw;
  }

  .navbar {
    padding-left: 40px;
  }

  .selection {
    width: 85%;
    left: auto;
    height: 250px;
    top: 500px;
    margin: 0 auto;
  }

  .footer,
  .brg {
    padding: 50px;
  }

  .wp {
    width: 600px;
  }

  .wi {
    width: 180px;
    padding-right: 40px;
  }

  .scroll-container {
    width: 80%;
    left: auto;
    margin: 0 auto;
  }

  .prof {
    left: auto;
    text-align: center;
  }
}

@media (min-width:1024px) and (max-width: 1200px) {
  .head {
    padding-left: 200px;
    padding-right: 200px;
  }

  .navbar {
    padding-left: 150px;
  }

  .selection {
    width: 80%;
    height: 220px;
    left: 100px;
    top: 600px;
  }

  .footer,
  .brg {
    flex-direction: row;
    padding-top: 75px;
  }

  .wp {
    width: 800px;
  }

  .wi {
    width: 150px;
    padding-right: 200px;
  }

  .scroll-container {
    width: 70%;
    left: 250px;
  }

  .prof {
    left: 650px;
  }
}

@media (min-width: 1200px) {
  .head {
    padding-left: 200px;
    padding-right: 200px;
  }

  .navbar {
    padding-left: 150px;
  }

  .selection {
    width: 80%;
    height: 220px;
    left: 100px;
    top: 600px;
  }

  .footer,
  .brg {
    flex-direction: row;
    padding-top: 75px;
  }

  .wp {
    width: 800px;
  }

  .wi {
    width: 150px;
    padding-right: 200px;
  }

  .scroll-container {
    width: 70%;
    left: 250px;
  }

  .prof {
    left: 650px;
  }
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(240, 248, 255, 0);
  color: rgba(255, 0, 0, 0.696);
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
  transition: background 0.3s;
}

.back-to-top:hover {
  color: black;
}
.correctlog{
  display: flex;
  text-align: left;
  width: 70%;
  justify-content: space-around;
  
  
}
.loghead{
  background-color: white;
  width: 110%;
  position: relative;
  right: 10px;
  bottom: 8px;
  
}
.logbackg{
  background-image: url(bg9.jpg);
  
  width: 110%;
  position: fixed;
  right: 1px;
  height: 100vh;
  top: 0;
  z-index: -5;
  background-size: cover;
}
.logbox{
  margin-top: 100px;
  background-color: white;
  width: 600px;
  border: none;
  border-radius: 20px;
  height: 400px;
  text-align: left;
  padding: 50px;
  font-size: medium;
  color: maroon;
  justify-content: space-between;
  padding-left: 90px;
  margin-bottom: 50px;
  z-index: 10;
  
}
.loginput{
  width: 550px;
  height: 55px;
  border-radius: 5px;
  padding-left: 10px;
}
.loginputemail{
  margin-top: 35px;
}
.frgtpass{
  text-align: right;
  color: maroon;
  position: relative;
  left: 440px;
}
.logsubmit{
  width: 560px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right,orange,red);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  
}
.logtopic{
  color: white;
  line-height: 1px;
  position: relative;
  top: 60px;
}
.logu1{
  color: rgb(255, 155, 171);
  position: relative;
  right: 25px;
}
.logu2{
  color: rgb(255, 155, 171);
  position: relative;
  left: 25px;
}
.logtopic1{
  font-size: xx-large;
}
.branches1{
  display: flex;
  justify-content: space-around;
  height: 70px;
  flex-wrap: wrap;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 15px;
  background-image: url(bg3.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  height: 80px;
  width: 80%;
  position: relative;
  right: 8px;
}
.signbox{
  margin-top: 100px;
  background-color: white;
  width: 750px;
  border: none;
  border-radius: 20px;
  height: max-content;
  
  text-align: left;
  padding: 50px;
  font-size: medium;
  color: orange;
  justify-content: space-between;
  padding: 90px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  line-height: 5px;
}
.reginput1{
  width: 350px;
  height: 55px;
  background-color: rgba(128, 128, 128, 0.176);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  text-align: left;
 
}
.reginput2{
  width: 230px;
  height: 55px;
  background-color: rgba(128, 128, 128, 0.176);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  text-align: left;
  
}
.signsubmit{
  width: 750px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right,orange,red);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 25px;

}
.mobverify{
  color: black;
  padding-left: 430px;
  font-size: small;
}
.abtyrself{
  width: 750px;
  height: 75px;
  background-color: rgba(128, 128, 128, 0.176);
  border: none;
 
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 15px;
  z-index: 100;
  width: 200px;
  position: fixed;
  top: 150px;
  left: 250px;
}


.dropdown-item {
  padding: 10px 15px;
  border: none;
  width: 100%;
  background: white;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
.repeatbg{
  background: url(new-top.png);
  background-repeat: repeat-x;

  width: 110%;
  height: 25px;
  position: relative;
  bottom: 10px;
  right: 8px;
}
.faqcon{
  height: max-content;
  color: black;
  margin-bottom: 150px;
}
.faqtopic{
  color: maroon;
}
.faqpoints{
  text-align: left;
  color: black;
  justify-content: center;
  width: 70%;
  position: relative;
  top: 95px;
  line-height: 35px;
}
.searchbox{
  margin-top: 100px;
  background-color: white;
  width: 750px;
  border: none;
  border-radius: 20px;
  height: max-content;
  font-size: x-large;
  text-align: left;
  padding: 50px;
  font-size: medium;
  color: orange;
  justify-content: space-between;
  padding: 90px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  line-height: 5px;
}
.srchgenin{
  width: 750px;
  height: 50px;
  font-size: medium;
  color: rgb(82, 81, 81);
  text-align: left;
  background-color: rgba(128, 128, 128, 0.176);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.srchagein{
  width: 360px;
  height: 50px;
   font-size: medium;
  color: rgb(82, 81, 81);
  text-align: left;
  background-color: rgba(128, 128, 128, 0.176);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.srchgeninmul{
  width: 750px;
  height: 75px;
   font-size: medium;
  color: rgb(82, 81, 81);
  text-align: left;
  background-color: rgba(128, 128, 128, 0.176);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.srchgeninmul1{
  width: 360px;
  height: 75px;
   font-size: medium;
  color: rgb(82, 81, 81);
  text-align: left;
  background-color: rgba(128, 128, 128, 0.176);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.searchcheck{
  margin-top: 10px;
  font-size: large;
  width: 360px;
}
.srchrule{
  color: black;
  font-size: small;
}
.srchchk{
  width: 20px;
  height:20px;
  margin-right: 10px;
}

select[multiple]::-webkit-scrollbar {
  width: 15px;              
}

select[multiple]::-webkit-scrollbar-track {
  background: #f1f1f1;    
  border-radius: 10px;
}

select[multiple]::-webkit-scrollbar-thumb {
  background-color: #ff4d4d; 
  border-radius: 10px;
  border: 2px solid #f1f1f1; 
}

select[multiple]::-webkit-scrollbar-thumb:hover {
  background-color: #cc0000; 
}

select[multiple] {
  scrollbar-width: thin;             
  scrollbar-color: #ff4d4d #f1f1f1;  
}
.memberplan{
  background-color: rgb(255, 217, 0);
  width: 350px;
  margin-left: 150px;
  height: 500px;
  margin-top: 150px;
  text-align: center;
  padding-top: 25px;
  line-height: 30px;
  
}
.strike{
  text-decoration: line-through;
}
.memberpay{
  width: 350px;
  height: 110px;
  background-color: purple;
  margin-left: 150px;
  background-image: url(pay_back.jpg);
  
  text-align: center;
  color: #f1f1f1;
  position: relative;
  bottom: 18px;
  padding-top: 8px;
  justify-content: center;
}
.memberpaybtn{
  height: 35px;
  width: 85px;
  background-color: rgb(11, 147, 93);
  border: none;
  border-radius: 5px;
  color: white;
}
.bnkdtls{
  text-align: center;
}
.succon{
  position: relative;
  right: 150px;
  bottom: 75px;
}
.contacttable{
  width: 90%;
  justify-content: space-between;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 200px;
  position: relative;
  bottom: 100px;
}
.contactitem{
  width: 260px;
   display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 7px;
}
.contacticon{
  background-color: orange;
  border-radius: 50%;
  color: white;
  width: 75px;
  height: 75px;
  border: none;
  font-size: x-large;
  position: relative;
  
  
}
.contactinputtable{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  color: orange;
  line-height: 1px;
  justify-content: space-between;
  align-items: center;
  margin-left: 75px;
  
  position: relative;
  bottom: 150px;
}
.contactinputbox{
  width: 600px;
  height: 40px;
  background-color: rgba(231, 218, 218, 0.267);
  border-width: 1px;
  border-color: rgba(196, 192, 192, 0.338);
}
.contactmessagebox{
  width: 1310px;
  height: 200px;
  background-color: rgba(231, 218, 218, 0.267);
  border-width: 1px;
  border-color: rgba(196, 192, 192, 0.338);
}
.contactsubmitbtn{
  width: 1315px;
  background: linear-gradient(to right,orange,red);
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 576px) {
 


  .logbox {
    width: 80vw ;
    padding: 20px ;
    height: auto ;
    
  }
  .loginput {
    width: 100%;
  }
  .logsubmit{
    width: 100%;
  }
  .frgtpass{
    position: relative;
    left: 10px;
  }
  .branches1{
width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 30px;
    position: relative;
    left: 0px;
    
    height: max-content;
  }
  .signbox{
    width: 90vw;
    padding: 50px;
  }
  .abtyrself{
    width: 100%;
  }
  .mobverify{
    padding-left: 50px;
  }
  .reginput1{
    
  }
  .searchbox{
    padding: 30px;
    width: 90vw;
  }
  .srchgenin{
    width: 65vw;
  }
  .srchgeninmul{
     width: 65vw;
  }
  .srchagein{
     width: 65vw;
  }
  .srchgeninmul1{
    width: 65vw;
  }
  .memberplan{
    margin-left: 20px;
  }
  .memberpay{
   margin-left: 20px; 
  }
  .succon{
    position: relative;
    right: 0px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
  }
  .sushd{
    position: relative;
    left: 0px;
    top: 0px;
    
  }
  .contacttable{
    flex-direction: column;
    padding: 0px;
    position: relative;
    bottom: 0px;
    align-items: center;
  }
  .contactinputtable{
    bottom: 0px;
    margin-bottom: 35px;
    margin-left: 10px;
  }
  .contactinputbox{
    width: 90vw;
  }
  .contactmessagebox{
    width: 90vw;
  }
  .contactsubmitbtn{
    width: 90vw;
  }
  .susp{
    justify-content: center;
    align-items: center;
    margin-left: 25px;
  }
}


